{% extends 'base.html' %}

{% load i18n %}
{% block content %}
<br>
<h2>{% trans 'Users' %}</h2>
{% if object_list %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Username' %}</th>
        <th>{% trans 'Full name' %}</th>
        <th>{% trans 'Date joined' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
          <td>{{ object.id }}</td>
          <td>{{ object.username }}</td>
          <td>{{ object.first_name }} {{ object.last_name }}</td>
          <td>{{ object.date_joined }}</td>
          <td  class="col-sm-2">
            <a class="dropdown-item" href="{% url 'update' object.id %}">{% trans 'Edit' %}</a>
            <a class="dropdown-item" href="{% url 'delete' object.id %}">{% trans 'Delete' %}</a>
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
    <p>{% trans 'No users found.' %}</p>
{% endif %}
{% endblock %}