{% extends 'base.html' %}

{% load i18n %}
{% block content %}
  <div class="main-content">
    <h1 class="welcome">{% trans 'Task Manager' %}</h1>
      {% url 'tasks_list' as tasks %}
      {% url 'users_list' as users %}
      {% url 'statuses_list' as statuses %}
      <p class="welcome">
        {% blocktrans %}
        Add <a href={{ tasks }}>tasks</a>, assign tasks to <a href={{ users }}>performers</a>, keep track of your progress by changing task <a href={{ statuses }}>status</a>.
        {% endblocktrans %}
      </p>
      <p class="welcome">
        {% if user.is_authenticated %}
          {% trans 'Welcome' %}, {{ user.get_full_name }}!
        {% else %}
          <a href="{% url 'register' %}">{% trans "Create an account" %}</a>
        {% endif %}
      </p>
  </div>
{% endblock %}
