{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{% trans 'Task overview' %}</h1>
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2>{{ object.name }}</h2>
    </div>
    <div class="card-body bg-light">
      <p>{{ object.description }}</p>
      <hr>
      <div class="container">
        <div class="row p-1">
          <div class="col">{% trans 'Author' %}</div>
          <div class="col">{{ object.author }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans 'Executor' %}</div>
          <div class="col">{{ object.executor }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans 'Status' %}</div>
          <div class="col">{{ object.status }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans 'Date created' %}</div>
          <div class="col">{{ object.created }}</div>
        </div>
        <div class="row p-1">
          <div class="col">
            <a href="{% url 'task_update' object.id %}">{% trans 'Edit' %}</a>
            <br>
            <a href="{% url 'task_delete' object.id %}">{% trans 'Delete' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
