{% extends 'base.html' %}

{% load i18n %}
{% block content %}
<h2>{% trans 'Tasks' %}</h2>
<a href="{% url 'task_create' %}" class="btn btn-dark">{% trans 'Add a task' %}</a>
<div class="card mb-3">
  <div class="card-body">
    <form class="form-inline center" method="get">
        <div class="mr-4">
          {% trans 'Filter by:' %}
        </div>
        <div class="form-group">
          <label for="id_status">{% trans 'Status' %}</label>
          <div class="ml-2 mr-4">{{ filter.form.status }}</div>
        </div>
        <div class="form-group is-valid">
          <label for="id_labels">{% trans 'Label' %}</label>
          <div class="mr-4 ml-2">{{ filter.form.labels }}</div>
        </div>
        <div class="form-group is-valid">
          <label for="id_executor">{% trans 'Assigned to' %}</label>
          <div class="mr-4 ml-2">{{ filter.form.executor }}</div>
        </div>
        {% if user.is_authenticated %}
        <div class="form-group">
          <div class="mr-4">
            <div class="form-check">{{ filter.form.author_tasks }}
              <label class="form-check-label ml-2" for="id_author_tasks">
                {% trans 'My tasks only' %}
              </label>
            </div>
          </div>
        </div>
        {% endif %}
        <input class="btn btn-dark" type="submit" value="{% trans 'Show' %}">
    </form>
  </div>
</div>
{% if object_list %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Task name' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Created by' %}</th>
        <th>{% trans 'Assigned to' %}</th>
        <th>{% trans 'Date created' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  {% for object in filter.qs %}
        <tr>
          <td>{{ object.id }}</td>
          <td><a href="{% url 'task_read' object.id %}">{{ object.name }}</a></td>
          <td>{{ object.status}}</td>
          <td>{{ object.author}}</td>
          <td>{{ object.executor|default_if_none:''}}</td>
          <td>{{ object.created }}</td>
          <td class="edit-delete-cell">
            <a class="dropdown-item" href="{% url 'task_update' object.id %}">{% trans 'Edit' %}</a>
            <a class="dropdown-item" href="{% url 'task_delete' object.id %}">{% trans 'Delete' %}</a>
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
    <p>{% trans 'No tasks found.' %}</p>
{% endif %}
{% endblock %}